name: Hello World
on:
  push:
    branches:
      - main
      - devlop
      - 'release/**'
  pull_request:
    types:
      - opened
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build step
        run: |
          echo "A demo build"
          echo "Hello, ${{ vars.MY_NAME }}"
          echo "Build completed"
